{% extends 'blog/base.html' %}

{% block content %}

<article class="home-content">
    <div class="content-name">Статьи</div>
    <div class="content-container">
        <!-- Посты -->
        {% for post in posts %}
        <div class="content-post">
            <div class="post-container">
                <div class="content-post-title">{{ post.title|truncatechars:20 }}</div>
                <div class="content-post-category">Категория:
                    <a href="{% url 'blog:category' cat_slug=post.category.slug %}">{{ post.category }}</a>
                </div>
                <div class="content-post-content">{{ post.content|truncatewords:20 }}</div>
            </div>
            <div class="content-post-read">
                <a href="{% url 'blog:detail' post_pk=post.pk %}">Перейти к посту</a>
            </div>
        </div>
        {% empty %}
            Нет опубликованных постов
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">В начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Далее</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</article>

{% endblock %}