{% extends 'blog/base.html' %}

{% block content %}

<article class="home-content">
    <div class="content-name">Недавние статьи</div>
    <div class="content-container">
        <!-- Посты -->
        {% for post in posts %}
        <div class="content-post">
            <div class="post-container">
                <div class="content-post-title">{{ post.title|truncatechars:20 }}</div>
                <div class="content-post-category">Категория: {{ post.category }}</div>
                <div class="content-post-content">{{ post.content|truncatewords:20 }}</div>
            </div>
            <div class="content-post-read">
                <a href="{% url 'blog:detail' post_pk=post.pk %}">Перейти к посту</a>
            </div>
        </div>
        {% empty %}
            Нет опубликованных постов
        {% endfor %}
    </div>
</article>

{% endblock %}