{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>{{title}}</title>
</head>
<body>

<header>
    <a href="{% url 'blog:home' %}" class="logo">logo</a>
    <nav class="menu">
        <a href="{% url 'blog:create' %}">Добавить статью</a>
        <a href="#">Архив</a>
        <a href="#">Войти</a>
    </nav>
</header>

<main>
    <!-- Контент страницы -->
    {% block content %}

    {% endblock %}

    <!-- Сайдбар -->
    <aside class="sidebar">
        <div class="sidebar-name">Категории</div>
            <!-- Категории -->
    </aside>
</main>

<footer>
    <a href="#">О проекте</a>
</footer>

</body>
</html>