html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #14593e;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #d2e0c9;
    border-color: #d2e0c9;
}

header {
    flex 0 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}

.logo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    color: #d2e0c9;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu a{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    text-decoration: none;
    color: #d2e0c9;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-name {
    margin: 10px;
    padding: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}

.content-post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    width: 350px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #d2e0c9;
    color: #14593e;
    border-color: #14593e;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-post-title{
    margin: 10px;
    padding: 10px;
    font-size: 48px;
}

.content-post-category{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

.content-post-content{
    margin: 10px;
    padding: 10px;
}

.content-post-read{
    margin: 10px;
    padding: 10px;
}

.content-post-read a {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #14593e;
    border-radius: 5px;
    color: #14593e;
}

.detail-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d2e0c9;
    color: #14593e;
    padding: 10px;
}

.detail-title {
    font-size: 48px;
    padding: 10px;
}

.detail-category {
    font-size: 24px;
    padding: 10px;
}

.detail-time_create {
    font-size: 24px;
    padding: 10px;
}

.detail-content {
    padding: 10px;
}


.create-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

input[type=submit] {
    background-color: #d2e0c9;
    border: none;
    color: #14593e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sidebar {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid;
}

.sidebar div {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.sidebar .sidebar-name {
    margin: 10px;
    padding: 10px;
    border: 0px;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid;
}

footer a {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    color: #d2e0c9;
    text-decoration: none;
}