html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #14593e;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #d2e0c9;
    border-color: #d2e0c9;
}

header {
    flex 0 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}

.logo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    color: #d2e0c9;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu a{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    text-decoration: none;
    color: #d2e0c9;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.content-name {
    margin: 10px;
    padding: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container div {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.detail-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid;
}

.sidebar div {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.sidebar .sidebar-name {
    margin: 10px;
    padding: 10px;
    border: 0px;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid;
}

footer a {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2e0c9;
    border-radius: 5px;
    color: #d2e0c9;
    text-decoration: none;
}